div.formControl{
    margin-top: 5px;
    margin-bottom: 5px;
}
div.operationButtons {
    display: block;
    text-align: center;
    margin-top: 25px;
}
div.operationButtons>button {
    margin: 10px;
    width: 300px;
}
div.modal.MuiBox-root{
    position: absolute;
    top:50%;
    left:50%;
    width: 60%;
    transform: translate(-50%, -50%);
    justify-content: center;
}
div.modal{
    width: 10%;
}